/*Global*/
@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700');
body{
  background: #f5f5fa;
  font-family: 'Lato', sans-serif;
  padding-top: 60px;
}

/*Custom*/
.main-color-bg{
  color: #ffffff !important;
  background-color: #dd091f !important;
  border-color: #dd091f !important;
}

/*Navbar*/
#top-navbar .navbar{
  margin-bottom: 0;
  border-radius: none;
  min-height: 60px;
}

#top-navbar .navbar-default{
  border-top: 10px #373737 solid;
  background-color: #ffffff;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.1);
}

#top-navbar .navbar-default .navbar-nav > li > a{
  font-weight: bold;
  padding-top: 20px;
}

#top-navbar .navbar-default .navbar-nav > li > a:hover {
  transition: ease-in-out .3s;
}

#top-navbar .navbar-default .navbar-brand{
  margin-top: -3px;
  max-width: 400px;
}

/*Header*/
#main-header{
  background: #081921;
  color: #ffffff;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 15px;
}

#main-header .search-form{
  padding-top: 20px;

}

/*Breadcrumb*/
.breadcrumb{
  background: #cccccc;
  color: #333333;
}

.breadcrumb a{
  color: #333333;
}

/*Main content*/
#sidebar .list-group{
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
}
#sidebar .well{
  background: #ffffff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
}
.progress-bar-default{
  background: #1a2a37;
  color: #ffffff;
}
.panel{
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
}
.overview-box{
  text-align: center;
}
.overview-box:hover{
  cursor: pointer;
  color: #dd091f;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
  transition: ease-in-out 0.3s;
}

/*Form elements*/
textarea {
  resize: none;
}
.form-control:focus {
  border-color: #a00113;
  border-width: 2px;
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(160, 1, 19, 0.6);
}
.btn {
  box-shadow: 0px 1px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-create{
  margin-top: -20px;
}

/*Profile Tab*/
#adminProfile-tab a {
  color: #333333;
}
#adminProfile-tab .nav-pills {
  font-weight: bold;
}
#adminProfile-tab .nav-pills > li > a:hover {
  color: #dd091f;
  transition: ease-in-out .3s;
}
#adminProfile-tab .nav-pills > li.active > a,
#adminProfile-tab .nav-pills > li.active > a:hover,
#adminProfile-tab .nav-pills > li.active > a:focus {
  color: #fff;
  background-color: #dd091f;
}
#adminProfile-content {
  padding-top: 50px;
}
#adminProfile-content img{
  max-width: 150px;
  margin: auto;
}

/*Pagination*/
.pagination > li > a,
.pagination > li > span {
  color: #c9040b;
  background-color: #fff;
  border: 1px solid #ddd;
}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  color: #a00113;
  background-color: #eee;
  border-color: #ddd;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  color: #fff;
  background-color: #dd091f;
  border-color: #dd091f;
}
.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
  color: #777;
  background-color: #fff;
  border-color: #ddd;
}

/*Footer*/
#main-footer{
  background: #081921;
  color: #ffffff;
  text-align: center;
  padding: 10px 0 10px 0;
  margin-top: 30px;
}

/*Media Queries*/
@media (max-width: 767px) {
  #top-navbar .navbar-default .navbar-nav > li > a{
    padding-top: 15px;
  }
  #top-navbar .navbar-default .navbar-brand {
    max-width: 300px;
  }
}

@media (max-width: 320px) {
  #top-navbar .navbar-default .navbar-brand {
    margin-top: 0;
    max-width: 250px;
  }
}
.box a{
  color:black;
}
.box a:hover{
  text-decoration: none;
}