/*Global*/
@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700');
body {
  background-color: #001220;
  color: #ffffff;
  font-family: 'Lato', sans-serif;
  padding-top: 50px;
}

#body-dashboard{
  /*background: url('../images/main-bg2.png') no-repeat fixed center;*/
  background-size: cover;
  background-color: #001220;
}
legend {
  color: #ffffff;
  font-size: 24px;
}
/*Jenjang Karier*/
.jenjang {
  background-color: #ffffff;
  color: #001220;
  border-left: 10px solid #f25c1d;
  margin-bottom: 20px;
  padding: 20px;
}
.jenjang:hover {
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 1);
  border-left: 20px solid #f25c1d;
  transition: ease-in-out .3s;
  text-decoration: none;
}
.jenjang h1 {
  font-weight: bold;
  margin-top: 0;
}
textarea {
  resize: none;
}

thead th {
  background-color: #f25c1d;
  color: white;
}

.caption a{
  color: #333333;
}

.panel {
  color: #333333;
  border: none;
}

.btn {
  box-shadow: 0px 1px 2px 0 rgba(0, 0, 0, 0.2);
}

.btn-createTop {
  float: right !important;
  margin-top: -2px;
}

.btn-af {
  background: url('../images/btn.jpg') no-repeat center center;
  background-size: cover;
  color: #ffffff;
  border: 1px transparent solid;
  font-size: 16px;
  font-weight: bold;
}

.btn-af:hover {
  color: #ffffff;
  border: 1px #ffffff solid;
  transition: ease-in-out 0.3s;
}

.form-control:focus {
	border-color: #a00113;
	border-width: 2px;
  outline: 0;
  box-shadow: none;
}

/*Top Navbar*/
#top-navbar .navbar{
  margin-bottom: 0;
  border-radius: none;
  min-height: 60px;
}

#top-navbar .navbar-default{
  border-top: 10px #373737 solid;
  background-color: #ffffff;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.1);
}

#top-navbar .navbar-default .navbar-nav > li > a{
  font-size: 13px;
  font-weight: bold;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 20px;
  border-bottom: 3px transparent solid;
}

#top-navbar .navbar-default .navbar-nav > li > a:hover {
  border-bottom: 3px #b60316 solid;
  transition: ease-in-out .3s;
}

#top-navbar .navbar-default .navbar-brand{
  margin-top: -3px;
  max-width: 400px;
}

#top-navbar .navbar-default .navbar-nav > .active > a,
#top-navbar .navbar-default .navbar-nav > .active > a:focus,
#top-navbar .navbar-default .navbar-nav > .active > a:hover {
  background-color: #ffffff;
  border-bottom: 3px #b60316 solid;
}

/*Header*/
#header {
  background: transparent;
  font-size: 26px;
  font-weight: bold;
  padding: 50px 0 20px 0;
  margin-bottom: 15px;
}

/*Foto Profil*/
.foto-profil {
  margin: auto;
  max-width: 150px;
  padding-bottom: 20px;
}

/*Foto Event di public form*/
.foto-event {
  margin: auto;
  max-width: 160px;
  padding-bottom: 10px;
}

/*Home / Login*/
#hero {
  background: url('../images/main-bg.png') no-repeat center center;
  background-size: cover;
  background-color: #eee;
  text-align: center;
  padding: 50px 0 150px 0;
}

#hero .hero-img {
  margin: auto;
  max-width: 75%;
}

#hero .hero-img-big {
  margin: 50px auto auto auto;
  max-width: 80%;
}

#login {
  padding: 60px 0 50px 0;
}

#login label {
  font-size: 18px;
  font-weight: normal;
}

/*Main*/
#main {
  
  padding-bottom: 30px;
}

#main-content .panel-title {
  font-size: 18px;
  font-weight: bold;
}

/*Top affiliate*/
#top-10 .table {
  margin-top: 20px;
}

#top-10 .badge {
  background-color: #f25c1d;
  font-size: 20px;
}

#top-10 .table > tbody > tr > td,
#top-10 .table > tbody > tr > th,
#top-10 .table > tfoot > tr > td,
#top-10 .table > tfoot > tr > th,
#top-10 .table > thead > tr > td,
#top-10 .table > thead > tr > th {
  font-size: 24px;
  border-top: none;
}

#showcase {
  padding-top: 20px;
}

#showcase .thumbnail,
#mentoring .thumbnail {
  background-color: #f25c1d;
  text-align: center;
  padding: 0;
  margin-bottom: 20px;
  border: 1px #eeeeee solid;
  border-radius: 0;
}

#showcase .thumbnail:hover,
#showcase a:hover,
#mentoring a:hover,
#mentoring .thumbnail:hover {
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 1);
  transition: ease-in-out .3s;
  text-decoration: none;
}
#showcase .thumbnail img{
  width: 400px;
  height: 250px;
}

#showcase .caption,
#mentoring .caption{
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
}

#profile-tab a {
  color: #ffffff;
}

#profile-tab .nav-pills {
  font-weight: bold;
}

#profile-tab .nav-pills > li > a:hover {
  color: #dd091f;
  transition: ease-in-out .3s;
}

#profile-tab .nav-pills > li.active > a,
#profile-tab .nav-pills > li.active > a:hover,
#profile-tab .nav-pills > li.active > a:focus {
  color: #fff;
  background-color: #dd091f;
}

#profile-content {
  padding-top: 50px;
}

#tc, #benefit, #mentoring {
  font-size: 18px
}

#benefit span{
  color: #f25c1d;
  font-weight: bold;
}

#table-tutorial a,
#table-faq a{
  color: #333333;
  font-weight: bold;
  text-decoration: none;
}

#table-tutorial a:hover,
#table-faq a:hover {
  color: #dd091f;
  transition: ease-in-out .2s;
}

/*Pagination*/
.pagination > li > a,
.pagination > li > span {
  color: #c9040b;
  background-color: #fff;
  border: 1px solid #ddd;
}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  color: #a00113;
  background-color: #eee;
  border-color: #ddd;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  color: #fff;
  background-color: #dd091f;
  border-color: #dd091f;
}
.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
  color: #777;
  background-color: #fff;
  border-color: #ddd;
}

#reset-password, #register, #public_form, #success_page, #error_page {
  padding-top: 50px;
  padding-bottom: 50px;
  color: #333333;
}

.alert-success {
  color: #ffffff;
  background-color: #41B314;
  border-color: transparent;
}

.alert-danger {
  color: #ffffff;
  background-color: #dd091f;
  border-color: transparent
}

.alert-warning {
  color: #ffffff;
  background-color: #e4cb10;
  border-color: transparent;
}

.alert-info {
  color: #ffffff;
  background-color: #00AAFF;
  border-color: transparent;
}

#faq-detail, #tutorial-detail {
  font-size: 18px;
}

/*Pricing table*/
.pricing {
  padding-bottom: 30px;
}
.pricing .pricing-content{
  color: #333333;
  max-width:600px;
  margin:-20px auto;
}
/* pricing head */
.pricing .pricing-head{
  width: 200px;
  height: 40px;
  position: relative;
  top: 21px;
  left:22px;
  background: #333;
  color: #fff;
  border-radius: 20px;
}
.pricing .pricing-head.bg-gray{
  background: #808080;
}

/* Heading */
.pricing .pricing-head h2{
  font-size:15px;
  line-height: 40px;
  margin-left:14px;
  color:#fff;
  text-transform:uppercase;
}

/* pricing Body */
.pricing .pricing-body{
  padding:25px;
  border-width:2px;
  background:#fff;
  border:1px solid #f0f0f0;
}
/* Icon */
.pricing .pricing-body h3{
  font-size:14px;
  line-height:28px;
  margin-top:5px;
  text-transform:uppercase;
}
.pricing  .pricing-feature ul{
  margin-bottom:15px;
}
.pricing .pricing-feature ul li{
  padding:4px 0px;
}
.pricing  .pricing-feature ul > li:before{
  content: "\f101";
  font-family: FontAwesome;
  color:#ccc;
  font-size:14px;
}
.pricing  .pricing-feature .btn{
  border:1px solid #f0f0f0;
  color: #999;
  border-radius: 20px;
  font-weight: 300;
  background: #fff;
}
.pricing  .pricing-feature .btn-gray{
  border-color: #808080;
  color: #808080;
}
/* pricing description */
.pricing .pricing-description{
  background:#f7f7f7;
  padding:10px 15px;
  box-shadow:4px 4px 0px 2px rgba(0,0,0,0.05);
}
.pricing .pricing-description h3{
  color: #fff;
}
.pricing .pricing-description p, .pricing .pricing-description ul li{
  color: rgba(255, 255, 255, 0.8);
}
.pricing .pricing-description ul > li:before{
  content: "\f101";
  font-family: FontAwesome;
  color:rgba(255, 255, 255, 0.8);
  font-size:14px;
}
.pricing .pricing-description.bg-gray{
  background: #808080;
}

/*Media queries*/

@media (max-width: 991px) {
  #hero {
    padding-bottom: 80px;
  }

  #hero .hero-img-big {
    margin-top: 30px;
    max-width: 60%;
  }

  #login {
    padding: 30px 0 20px 0;
  }

  #main-content {
    padding-top: 30px;
  }
}

@media (min-width: 768px) {
  .form-horizontal .control-label {
    text-align: left;
  }
}

@media (max-width: 767px) {
  /*Top Navbar*/
  #top-navbar .navbar-default{
    border-top: none;
  }

  #top-navbar .navbar-default .navbar-nav > li > a{
    padding: 15px 0 10px 15px;
  }

  #top-navbar .navbar-default .navbar-nav > li > a:hover{
    background-color: #e7e7e7;
    border-bottom: 3px transparent solid;
  }

  #top-navbar .navbar-default .navbar-nav > .active > a,
  #top-navbar .navbar-default .navbar-nav > .active > a:focus,
  #top-navbar .navbar-default .navbar-nav > .active > a:hover {
    background-color: #e7e7e7;
    border-bottom: 3px transparent solid;
  }

  #top-navbar .navbar-default .navbar-brand {
    margin-top: 5px;
    max-width: 250px;
  }

  #header {
    font-size: 18px;
  }

  #hero .hero-img {
    max-width: 60%;
  }

  #hero .hero-img-big{
    max-width: 80%;
  }

  #top-10 .badge {
    font-size: 12px;
  }

  #top-10 .table > tbody > tr > td,
  .table > tbody > tr > th,
  .table > tfoot > tr > td,
  .table > tfoot > tr > th,
  .table > thead > tr > td,
  .table > thead > tr > th {
    font-size: 14px;
    border-top: none;
  }

  #reset-password {
    padding-top: 60px;
  }

  .pricing .pricing-description{
    margin-top:20px;
  }
}
